.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Hide content initially */
.content.hidden {
  display: none;
}

/* Style the loader */


